# Environment configuration example
# App settings
NODE_ENV=development | test | production
PORT=3000
CORS_ALLOWED_ORIGIN=http://localhost:3000
SERVICE_NAME=work-link-service
LOGGER_LEVEL=info

#Database settings
DB_HOST=localhost
DB_PORT=port 0000      
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=database_name
DATABASE_URL=postgresql://postgres:password@localhost:5432/database_name

# JWT settings
JWT_ACCESS_SECRET=your_jwt_secret_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRATION=7d